h1 {
  text-align: center;
  font-family: sans-serif;
}

#editor1 {
  position: absolute;
  top: 100px;
  right: ;
  bottom: 0;
  left: 0;
  width: 33%;
  height: 100%;
}

#editor2 {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  width: 33%;
  height: 100%;
}

#target{
  position: absolute;
  top: 100px;
  right: 33.5%;
  bottom: 0;
  width: 33%;
  height: 100%;
}
