#target {
  height: 500px;
  padding:10px;
  border:5px solid black;
  margin:0px;
}
#editor1 {
    position: absolute;
    top: 100;
    right: 100;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 90%;
}

#editor2 {
  height: 500px;
  padding:10px;
  border:5px solid black;
  margin:0px;
}

.column {
  display: inline-block;
  top: 50; 
  width:29%;
}

.container {
  width: 1200px;
  top: 50; 
}

div#banner { 
  position: absolute; 
  top: 0; 
  left: 0; 
  background-color: #E65C00; 
  height: 100px;
  width: 100%; 
}
div#banner-content { 
  width: 800px; 
  margin: 0 auto; 
  padding: 10px; 
  border: 1px ;
}
h1{font-size: 375%;}

h1{
  font-weight: 300;
  color: #999
  font-size: 250%;
  font-family:  sans-serif;
}

