#editor {
  height: 500px;
  padding:10px;
  border:5px solid black;
  margin:0px;
}

#target {
  height: 500px;
  padding:10px;
  border:5px solid black;
  margin:0px;
}

#editor2 {
  height: 500px;
  padding:10px;
  border:5px solid black;
  margin:0px;
}

.column {
  display: inline-block;
  width:29%;
}

.container {
  width: 1200px;
}

h1{
  font-weight: 300;
  color: #999
  font-size: 150px;
  font-family: 'Source Sans Pro', sans-serif;
}

